.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arima Madurai", cursive;
}

body {
  background-color: #ffefe3;
  width: 100vw;
  height: 100vh;
  font-family: "Arima Madurai", cursive;
}

.link {
  color: black;
  font-size: larger;
  font-weight: 900;
  margin: 10px;
  padding: 10px;
}

.link:hover {
  color: #ff6b00;
  border-bottom: 2px solid #ff6b00;
  padding: 10px;
  margin: 10px;
  font-weight: 900;
}
.hero-text {
  position: absolute;
  width: 564px;
  height: 84px;
  left: 100px;
  top: 300px;
  font-family: "Arima Madurai";
  font-style: normal;
  font-size: 39px;
  line-height: 64px;
}
.text {
  position: absolute;
  width: 659px;
  height: 64px;
  left: 100px;
  top: 360px;
  font-size: 20px;
}
span {
  color: #ff6b00;
}
.button {
  position: absolute;
  width: 190px;
  height: 68px;
  left: 100px;
  top: 430px;
  background-color: #ff6b00;
  text-align: center;
  color: white;
  border: none;
  border-radius: 130px;
}
.button:hover {
  background-color: #ffefe3;
  border: 2px solid #ff6b00;
  border-radius: 130px;
  color: #ff6b00;
}
.hero-image {
  position: absolute;
  width: 498px;
  height: 652.43px;
  left: 842px;
  top: 186px;
}
