.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arima Madurai", cursive;
}

body {
  background-color: #ffefe3;
  width: 100vw;
  height: 100vh;
  font-family: "Arima Madurai", cursive;
  justify-content: center;
  align-items: center;
  
  
}

.link {
  color: black;
  font-size: larger;
  font-weight: 900;
  margin: 10px;
  padding: 10px;
}

.link:hover {
  color: #ff6b00;
  border-bottom: 2px solid #ff6b00;
  padding: 10px;
  margin: 10px;
  font-weight: 900;
}
.hero-text {
  position: absolute;
  width: 564px;
  height: 84px;
  left: 100px;
  top: 300px;
  font-family: "Arima Madurai";
  font-style: normal;
  font-size: 39px;
  line-height: 64px;
}
.text {
  position: absolute;
  width: 659px;
  height: 64px;
  left: 100px;
  top: 360px;
  font-size: 20px;
}
span {
  color: #ff6b00;
}
.button {
  position: absolute;
  width: 190px;
  height: 68px;
  left: 100px;
  top: 430px;
  background-color: #ff6b00;
  text-align: center;
  color: white;
  border: none;
  border-radius: 130px;
}
.button:hover {
  background-color: #ffefe3;
  border: 2px solid #ff6b00;
  border-radius: 130px;
  color: #ff6b00;
}
.hero-image {
  position: absolute;
  width: 498px;
  height: 652.43px;
  left: 842px;
  top: 186px;
  float: left;
  display: flex;
}

/* DISSOLVE */
/* EDIT the following values to adjust the carousel to yoru needs */
/* width of the carousel */
/* height of the carousel */
/* the number of items in the carousel */
/* time during which a carousel item is fully visible */
/* duration of the transition between two carousel items*/
/* END EDIT */
.dissolve {
  width: 287px;
  height: 430px;
  position: relative;
  overflow: hidden;
}
.dissolve .item {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  animation: dissolve 20s linear infinite;
}
.dissolve .item:nth-child(2) {
  animation-delay: 5s;
}
.dissolve .item:nth-child(3) {
  animation-delay: 10s;
}
.dissolve .item:nth-child(4) {
  animation-delay: 15s;
}
.dissolve .item:nth-child(5) {
  animation-delay: 20s;
}
.dissolve .item:nth-child(6) {
  animation-delay: 25s;
}
.dissolve .item:nth-child(7) {
  animation-delay: 35s;
}
.dissolve .item:nth-child(8) {
  animation-delay: 40s;
}
.dissolve .item:nth-child(9) {
  animation-delay: 45s;
}
/* 
/* The keyframes calculations are based on assumption of 4 items in the carousel. 
/* You should notice the pattern for your own calculations. */
/* If you plan to support Safari 4 for any reason, you *must* have 0% and 100% frames */
@-webkit-keyframes dissolve {
  0%, 30%, 100% {
     opacity: 0;
 }
  5%, 25% {
     opacity: 1;
 }
}
@-moz-keyframes dissolve {
  0%, 30%, 100% {
     opacity: 0;
 }
  5%, 25% {
     opacity: 1;
 }
}
@-ms-keyframes dissolve {
  0%, 30%, 100% {
     opacity: 0;
 }
  5%, 25% {
     opacity: 1;
 }
}
@keyframes dissolve {
  0%, 30%, 100% {
     opacity: 0;
 }
  5%, 25% {
     opacity: 1;
 }
}
@keyframes dissolve {
  0%, 30%, 100% {
     opacity: 0;
 }
  5%, 25% {
     opacity: 1;
 }
}
@keyframes dissolve {
  0%, 30%, 100% {
     opacity: 0;
 }
  5%, 25% {
     opacity: 1;
 }
}
@keyframes dissolve {
  0%, 30%, 100% {
     opacity: 0;
 }
  5%, 25% {
     opacity: 1;
 }
}
@keyframes dissolve {
  0%, 30%, 100% {
     opacity: 0;
 }
  5%, 25% {
     opacity: 1;
 }
}
@keyframes dissolve {
  0%, 30%, 100% {
     opacity: 0;
 }
  5%, 25% {
     opacity: 1;
 }
}
@keyframes dissolve {
  0%, 30%, 100% {
     opacity: 0;
 }
  5%, 25% {
     opacity: 1;
 }
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: 287px;
  margin: 10px auto 0;
}
figure .carousel {
  width: 350px;
  box-shadow: 0 0 0 10px #fff, 0 0.3em 0.8em 10px black;
}
figure figcaption {
  text-transform: uppercase;
  margin-top: 10px;
  padding-top: 0.5em;
  font-size: 1.2em;
  text-align: center;
  color: rgb(10, 10, 10);
  
}
figure figcaption:before, figure figcaption:after {
  content: "\2014";
  font-family: "Times New Roman", serif;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.2);
}
figure figcaption:before {
  margin-right: 0.3em;
}
figure figcaption:after {
  margin-left: 0.3em;
}
figure p {
  color: #999;
  text-align: center;
}
figure p a {
  color: #ff6b00;
}
figure p a:hover{
  color: #ee853a;

}
